  .search-button-wrap {

  }

  .search-page-buttons-row {
    height: 42px;
  }

  .stay-button {
    height: 100%;
    border: 1px solid #ddd;
    opacity: .6;
    list-style: none;
    border-radius: 3px;
  }

  .stay-button-active {
    height: 100%;
    border-top: 3px solid #00a699;
    list-style: none;
    border-radius: 3px;
    border-radius: 3px;
  }

  .stay-button:hover, .stay-button > label:hover {
    cursor: pointer;
  }

  .buttons-tab > .stay-button > label, .buttons-tab > .stay-button-active > label {
    color: white;
    font-weight: 100;
  }

   .buttons-tab > .stay-button, .buttons-tab > .stay-button-active {
    opacity: .85
  }

  .dates-location-wrap {
    margin-top: 10px;
    height: 40px;
    ;
  }

  .dates-location-inputs-row {

    ;
  }

  .search-page-dates {
      height: 100%;
      margin-left: 45px;
  }

  .search-page-location {
      height: 100%;
      margin-left: 40px;
  }

  .search-bottom-filters {
    height: 40px;
    margin-top: 15px
  }
  
  .pet-size-buttons {
      height: 100%;
      margin-left: 40px;
      border: 1px solid #ddd;
  }

  .pet-qty-buttons {
  
    height: 100%;
    margin-left: 45px;
    border: 1px solid #ddd;
}

  .DateRangePicker {
    position: relative;
    display: inline-block;
    width: 318px;
    margin-left: -16px;
}
.dates-content > .DateRangePicker {
    margin-left: -10px;
}
.DateRangePickerInput > .DateInput {
    font-weight: normal;
    font-size: inherit;
    line-height: normal;
    color: #757575;
    margin: 0;
    padding: 6px;
    background: #fff;
    position: relative;
    display: inline-block;
    width: 121px;
    vertical-align: middle;
    margin-left: 0px;
}

.search-page-location > .geosuggest {
    font-size: 14px;
    /* font-size: 1rem; */
    position: relative;
    margin-top: 0;
    text-align: left;
    width: 316px;
    margin-left: -15px;
}

.dayPicker {
  overflow: hidden;
  margin-bottom: 8px;
  padding: 0;
  width: 100%;
  background: white;
}

.weekday {
    display: inline-block;
    float: left;
    width: 14.285714286%;
    height: 40px;
    padding-top: 10px;
    cursor: pointer;
    border-left: 1px solid #ddd;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;

}

.active{
  border-top: 3px solid #00a699;
  border-bottom: 3px solid #00a699;
}

.day-select-wrap {
    width: 315.6px;
    margin-left: -15px;
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    height: 42px;
}


.day-label {
  cursor: pointer
}
