.sitter-profile-header {
  background-color: black
}

.sitter-main {
  margin-top: 25px;
  height: 500px;
}

.sitter-info-wrap{
  background-color: white;
}

.sitter-photos {
  background-color: white;
  border: 1px solid #ddd;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  height: 100%;
}

.sitter-summary {
  background-color: white;
  border: 1px solid #ddd;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  height: 100%;
}

.sitter-services {
}

.sitter-info {
  background-color: white;
  height: 100%;
  margin-bottom: 10px 
}

.sitter-calendar {
  background-color: white;
  margin-left: -6px;
  height: 100%
}

.sitter-about {
  height: 100%;
}

.sitter-profile-bio {
  background-color: white;
  height: 100%;
  margin-bottom: 10px;
}

.sitter-pref {
  background-color: white;
  height: 100%;
}

.sitter-feedback {
  height: 100%
}

.sitter-reviews {
  background-color: white;
  height: 100%;
  border-bottom: 1px solid  #ddd;
  margin-bottom: 10px;
}

.sitter-profile-map {
  height: 50vh;

}

.sitter-profile-footer {
  background-color: green;
  height: 50vh;
}

.slick-slide img{
  margin-top: 15px;
  width: 100%;
  height: 450px;
}

.slick-slider > .slick-next {
  right: 0;
  z-index: 1;
} 

.slick-slider > .slick-prev {
  left: 0;
  z-index: 1
}

.provider-card {
  margin-top: 5px;
}
.provider-card-pic {
  height: 100px;
}

.provider-card-pic img {
  margin-top: 10px;
  width: 100%;
}


.provider-card-body {
  margin-top: 5px;
  height: 120px;
}

.pcard-name {
  margin-left: -20px;
  text-align: justify;
  font-size: 20px;
}

.pcard-header {
  text-align: justify;
  margin-left: -20px;
}

.pcard-location {
  text-align: justify;
  margin-left: -20px;
}

.pcard-rating {
  text-align: justify;
  margin-left: -20px;
}

.service-rate-summary {
  text-align: start;
}

.subtext-row {
  color: #999;
}

.contact-wrap {
  margin-top: 40px;
}

.contact-btn {
  height: 45px;
  padding-top: 10px;
  border: 1px solid #80e8e0;
  margin-left: 20px;
  background-color: #80e8e0;
  border-radius: 7px;
  font-weight: bold;
  color: #555;
  cursor: pointer;
}

.contact-btn:hover {
  background-color: #00a699;
  border-color: #80e8e0;
  color: white;
}

.favorite-btn {
  height: 45px;
  padding-top: 10px;
/*  border: 1px solid #ddd;*/
/*  margin-left: 20px;*/
  color: #80e8e0;
  cursor: pointer
}

.favorite-btn:hover {
  background-color: #fff;
  color: #00a699;
}

.favorite-btn-active {
  height: 45px;
  padding-top: 10px;
 /* border: 1px solid #ddd;*/
 /* margin-left: 20px;*/
  color: #00a699;
  cursor: pointer
}


.table-text {
  float: left;
  width: 70%;
  color: #707070;
}

.table-number {
  float: right;
  width: 30%;
  color: #707070;
  text-align: end;
}

.section-title {
  font-size: 18px;
}

.title {
  font-size: 16px;
  text-align: center
}

ul#table li {
    text-align: initial;
    list-style: none;
    width: 100%;
    padding: 1px 8px;
    margin: 3px 0;
    float: left;
}

.color {
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
}

.bio-title {
  font-size: 18px;
}

.bio-body {
  text-align: initial;
}

.review-header-pic img{
  height: 55px;
  margin-left: -10px;
  border-radius: 50%
}

.review-header-pic {
  text-align: initial;
}

.profile-review {
  border-top: 1px solid #ddd;
  margin-top: 10px; 
}

.reviews-data {
  text-align: initial;
  margin-top: 5px;
  font-size: 18px;
  color: #80e8e0;
  font-weight: bold;
  background-color: snow;
  border-radius: 3px;
  border: 1px dotted #ddd;
  padding: 2px;
}

.review-header-body {
    text-align: initial;
    margin-left: 5px;
}

.review-body {
  text-align: initial;
  margin-top: 3px;
}

.review-header{
  margin-top: 10px;
}

.header-name, .header-date {
  color: #999;
}