.sitter-profile-header {
  background-color: black
}

.sitter-main {
  margin-top: 25px;
  height: 500px;
}

.sitter-photos {
  background-color: white;
  border: 1px solid #ddd;
/*  border-radius: 20px;*/
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  height: 100%;
}

.sitter-summary {
  background-color: white;
  border: 1px solid #ddd;
/*  border-radius: 20px;*/
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  height: 100%;
}

.sitter-services {
  height: 50vh;
}

.sitter-info {
  background-color: blue;
  height: 100%
}

.sitter-calendar {
  background-color: orange;
  height: 100%
}

.sitter-about {
  height: 50vh;
}

.sitter-profile-bio {
  background-color: yellow;
  height: 100%
}

.sitter-pref {
  background-color: red;
  height: 100%;
}

.sitter-feedback {
  height: 100%
}

.sitter-reviews {
  background-color: blue;
  height: 600px;
}

.sitter-profile-map {
  background-color: yellow;
  height: 50vh;
}

.sitter-profile-footer {
  background-color: green;
  height: 50vh;
}

.slick-slide img{
  margin-top: 15px;
  width: 100%;
  height: 450px;
}

.slick-slider > .slick-next {
  right: 0;
  z-index: 1;
} 

.slick-slider > .slick-prev {
  left: 0;
  z-index: 1
}

.provider-card {

}
.provider-card-pic {
  height: 100px;
}

.provider-card-pic img {
  margin-top: 10px;
  width: 100%;
}


.provider-card-body {
  margin-top: 5px;
  height: 120px;
}

.pcard-name {
  margin-left: -20px;
  text-align: justify;
  font-size: 20px;
}

.pcard-header {
  text-align: justify;
  margin-left: -20px;
}

.pcard-location {
  text-align: justify;
  margin-left: -20px;
}

.pcard-rating {
  text-align: justify;
  margin-left: -20px;
}

.service-rate-summary {
  text-align: start;
}

.subtext-row {
  color: #999;
}

.contact-wrap {
  margin-top: 40px;
}

.contact-btn {
  height: 45px;
  border: 1px solid #ddd;
  margin-left: 20px;
}

.favorite-btn {
  height: 45px;
  border: 1px solid #ddd;
  margin-left: 20px;
}